<div class="chat-home-container">
    @if (errorMessage) {
        <clr-alert class="danger-alert" [clrAlertType]="'danger'" [(clrAlertClosed)]="alertClosed">
            <clr-alert-item>
                <span class="alert-text">{{ errorMessage }}</span>
            </clr-alert-item>
        </clr-alert>
    }

    <nav class="subnav">
        @if (chat?.isChannel) {
            <h6 class="chat-title">{{ chat?.title }}</h6>
        } @else if (!!chat?.participantsPage?.content?.length) {
            <h6 class="chat-title">Direct chat with {{ chat | chatTitle: currentUser }}</h6>
        }

        @if (chat?.isChannel) {
            <ul class="nav nav-chat-links">
                <li class="nav-item">
                    <span class="nav-link channel-nav-item">Participants</span>
                </li>
                <li class="nav-item channel-nav-item">
                    <span class="nav-link">Channel setting</span>
                </li>
            </ul>
        }
    </nav>
    <router-outlet></router-outlet>
</div>

