<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a [routerLink]="''" [routerLinkActive]="['active']">
                <cds-icon shape="announcement"></cds-icon>
                <span class="title">Chat-Mat</span>
            </a>
        </div>
        <div class="settings">
            <a [routerLink]="CHAT_ROUTE_PATHS.PROFILE_SETTINGS" [routerLinkActive]="['active']"
               class="nav-link nav-icon">
                <cds-icon shape="user"></cds-icon>
                <span>{{ currentUser.username }}</span>
            </a>
        </div>
    </header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="CHAT_ROUTE_PATHS.PROFILE_SETTINGS">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="CHAT_ROUTE_PATHS.CHAT_USERS">Users</a>
            </li>
        </ul>
    </nav>
    <div class="content-container">
        <div class="content-area">
            <div class="chat-application-dynamic-content">
                <nav class="message-nav">
                    <clr-vertical-nav [clrVerticalNavCollapsible]="false">
                        <button (click)="openNewChatSideBar()" class="btn btn-primary button-new-chat">
                            <cds-icon shape="chat-bubble"></cds-icon>
                            New chat
                        </button>
                        <clr-vertical-nav-group routerLinkActive="active" [clrVerticalNavGroupExpanded]="true">
                            <cds-icon shape="chat-bubble" clrVerticalNavIcon></cds-icon>
                            Direct messages
                            <clr-vertical-nav-group-children>
                                <form class="clr-form">
                                    <input type="text"
                                           id="directChatSearch"
                                           placeholder="Search for messages..."
                                           class="clr-input"
                                           [formControl]="chatSearchControl"
                                    />
                                </form>
                            </clr-vertical-nav-group-children>
                            <clr-vertical-nav-group-children>
                                @if (!!directChats?.length) {
                                    @for (chat of directChats; track chat.id) {
                                        <a [routerLinkActive]="['active']"
                                           [routerLink]="'/' +CHAT_ROUTE_PATHS.HOME+ '/' + CHAT_ROUTE_PATHS.CHAT + '/' + chat.id"
                                           class="user-nav-button"
                                           clrVerticalNavLink>{{ chat | chatTitle: currentUser }}</a>
                                    }
                                } @else {
                                    <span clrVerticalNavLink>No direct chats</span>
                                }
                            </clr-vertical-nav-group-children>
                        </clr-vertical-nav-group>
                        <clr-vertical-nav-group routerLinkActive="active" [clrVerticalNavGroupExpanded]="true">
                            <cds-icon shape="talk-bubbles" clrVerticalNavIcon></cds-icon>
                            Channels
                            <clr-vertical-nav-group-children>
                                <form class="clr-form">
                                    <input type="text"
                                           id="channelChatSearch"
                                           placeholder="Search for channels..."
                                           class="clr-input"
                                           [formControl]="channelSearchControl"
                                    />
                                </form>
                            </clr-vertical-nav-group-children>
                            <clr-vertical-nav-group-children>
                                @if (!!channels?.length) {
                                    @for (channel of channels; track channel.id) {
                                        <a [routerLinkActive]="['active']"
                                           [routerLink]="'/' +CHAT_ROUTE_PATHS.HOME+ '/' + CHAT_ROUTE_PATHS.CHAT + '/' + channel.id"
                                           class="user-nav-button"
                                           clrVerticalNavLink>{{ channel.title }}</a>
                                    }
                                } @else {
                                    <span clrVerticalNavLink>No channels</span>
                                }
                            </clr-vertical-nav-group-children>
                        </clr-vertical-nav-group>
                    </clr-vertical-nav>
                </nav>

                <div class="chat-application-outlet">
                    @if (errorMessage) {
                        <clr-alert class="danger-alert" [clrAlertType]="'danger'" [(clrAlertClosed)]="alertClosed">
                            <clr-alert-item>
                                <span class="alert-text">{{ errorMessage }}</span>
                            </clr-alert-item>
                        </clr-alert>
                    }
                    <router-outlet></router-outlet>
                </div>

                <div class="friends-nav">
                    <clr-vertical-nav [clrVerticalNavCollapsible]="false">
                        <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true">
                            <cds-icon shape="assign-user" clrVerticalNavIcon></cds-icon>
                            Friends
                            <clr-vertical-nav-group-children>
                                <form class="clr-form">
                                    <input type="text"
                                           id="friendsSearch"
                                           placeholder="Search for friends..."
                                           class="clr-input"
                                           [formControl]="friendSearchControl"
                                    />
                                </form>
                            </clr-vertical-nav-group-children>
                            <clr-vertical-nav-group-children>
                                @if (!!friends?.length) {
                                    @for (user of friends; track user.id) {
                                        <span (click)="viewUser(user)" class="user-nav-button"
                                              clrVerticalNavLink>{{ user.username }}</span>

                                    }
                                } @else {
                                    <span clrVerticalNavLink>No friends</span>
                                }

                            </clr-vertical-nav-group-children>
                        </clr-vertical-nav-group>
                    </clr-vertical-nav>
                </div>
            </div>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="openViewUserModal">
    <h3 class="modal-title">User Info</h3>
    <div class="modal-body">
                        <span class="clr-row">
                            <label class="clr-col-3">Username:</label>
                            <p class="clr-col-9 no-margin">{{ selectedFriend.username }}</p>
                            <br><br>
                            <label class="clr-col-3">Email:</label>
                            <p class="clr-col-9 no-margin">{{ selectedFriend.email }}</p>
                            <br><br>
                            <label class="clr-col-3">Active since:</label>
                            <p class="clr-col-9 no-margin">{{ selectedFriend.createdAt | date }}</p>
                        </span>
        @if (friendActionLoading) {
            <clr-spinner>Loading...</clr-spinner>
        }
    </div>
    <div class="modal-footer">
        <button [disabled]="friendActionLoading" type="button"
                class="btn btn-danger-outline unfriend-button" (click)="unfriend()">Unfriend
        </button>
        <button type="button" class="btn btn-outline" (click)="openViewUserModal = false">Cancel
        </button>
        <button [disabled]="friendActionLoading" type="button" class="btn btn-primary"
                (click)="createOrOpenDirectChatWithFriend()">Message
        </button>
    </div>
</clr-modal>


<new-chat (channelCreated)="channelCreated($event)" #newChat></new-chat>

