.main-container{
    .content-container{
        .content-area{
            padding: 0;
            overflow: hidden;
        }
    }
}

.chat-application-dynamic-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chat-application-outlet{
    flex-grow: 1;
}

.message-nav{
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 12rem;
    height: 100vh;
    .button-new-chat{
        margin-left: 0.6rem;
        width: 6rem;
    }
    clr-vertical-nav{
        height: 100%;
    }
}

.friends-nav{
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 12rem;
    height: 100vh;
    clr-vertical-nav{
        margin-left: auto;
        height: 100%;
    }
}

.user-nav-button{
    cursor: pointer;
}

.no-margin{
    margin: 0;
}

label{
    font-weight: bold;
}

.unfriend-button{
    margin-right: auto;
}
