<div class="chat-correspondence-container">
    @if (errorMessage) {
        <clr-alert class="danger-alert" [clrAlertType]="'danger'" [(clrAlertClosed)]="alertClosed">
            <clr-alert-item>
                <span class="alert-text">{{ errorMessage }}</span>
            </clr-alert-item>
        </clr-alert>
    }

    @if(loading){
        <div class="loading-container">
            <clr-spinner clrInline></clr-spinner>
            <h6>Loading...</h6>
        </div>

    }@else{
        <div #scrollContainer class="main-chat-history">
            @for (chatMessage of loadedChatMessages; track chatMessage.id) {
                <div class="chat-message-container" [class]="chatMessage.isMine ? 'author-message-margin' : ''">
                    @if(!chatMessage.isMine){
                        @if(!!chatMessage.senderAvatar){
                            <img class="avatar-display" src="{{chatMessage.senderAvatar}}">
                        }@else{
                            <cds-icon class="avatar-display" shape="user"></cds-icon>
                        }
                    }

                    <div class="chat-message-meta">
                        <div class="chat-message-info">

                            @if (!chatMessage.isMine) {
                                <p class="chat-message-username">{{ chatMessage.senderUsername }}</p>
                            }
                            <p class="chat-message-time">{{ chatMessage.createdAt | date : "dd.MM, hh:mm" }}</p>
                        </div>
                        <div class="chat-message-text-container">
                            @if (chatMessage.isMine && !chatMessage.deleted && !chatMessage.loading) {
                                <cds-icon shape="trash" (click)="deleteMessage(chatMessage)" class="delete-icon"></cds-icon>
                            }
                            <div
                                class="chat-message-text-content"
                                [class]="chatMessage.isMine ? 'my-message' : 'their-message'">
                                @if(!chatMessage.deleted){
                                    <p [innerHTML]="chatMessage.messageContent | emojiParse"></p>
                                }@else if(chatMessage.loading){
                                    <clr-spinner clrInline></clr-spinner>
                                }@else{
                                    <p class="deleted-message">Chat message deleted by the author...</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>
        <div class="input-container">
            <textarea
                [disabled]="loading"
                class="chat-user-input"
                name="messageInput"
                [(ngModel)]="userChatInput"
                (keydown)="onKeydown($event)"
                placeholder="Write your message..."
            ></textarea>
            <cds-icon class="send-button-icon" (click)="sendMessage()" [size]="'lg'" shape="circle-arrow"></cds-icon>
        </div>
    }
</div>
