:host {
    flex-grow: 1; /* Allow it to take all the remaining space */
    overflow: hidden; /* Prevent unnecessary scrolling */
    display: flex;
    flex-direction: column;
}

.chat-correspondence-container {
    display: flex;
    flex-flow: column;
    min-width: 36rem;
    height: 100%;
    margin: 0 0.6rem 0 0.6rem;

    .loading-container {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        h6 {
            margin: 0;
        }
    }

    .input-container {
        display: flex;
        margin-bottom: 5.2rem;
        margin-top: auto;
        height: auto;
        align-items: center;
        justify-content: center;

        .chat-user-input {
            flex-grow: 1;
            padding: 0.6rem;
            border-radius: 0.6rem;
            border: 1px solid #ccc;
            font-size: 14px;
            resize: none;
            outline: none;
            margin-right: 1rem;
            height: 3rem;

            &:focus {
                border-color: var(--clr-color-action-600);
            }
        }


        .send-button-icon {
            margin-right: 0.6rem;
            transform: rotate(90deg);
            color: var(--clr-color-action-600);

            &:hover {
                cursor: pointer;
                color: var(--clr-color-action-400);
            }
        }

    }
}

.main-chat-history {
    overflow-y: auto;
    padding: 0 1rem 0 0;

    &::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--clr-color-action-800); /* Color of the scroll thumb */
        border-radius: 10px; /* Roundness of the scroll thumb */
        border: 3px solid var(--clr-color-action-200); /* Space around the scroll thumb */
    }

    &::-webkit-scrollbar-track {
        background: var(--clr-color-action-100); /* Color of the scrollbar track */
    }

    .chat-message-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        width: fit-content;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        max-width: 90%;

        .avatar-display {
            padding: 0.2rem; /* Add padding */
            width: 1.7rem; /* Set a fixed width */
            height: 1.7rem; /* Set a fixed height */
            border-radius: 50%; /* Make it circular */
            object-fit: cover;
            margin-top: 1rem
        }

        .chat-message-meta {
            display: flex;
            flex-flow: column;

            .chat-message-info {
                display: flex;
                align-items: center;

                .chat-message-username {
                    margin: 0 0.4rem 0 0;
                    font-weight: bold;
                }

                .chat-message-time {
                    margin: 0.1rem 0 0 1rem;
                    font-size: 0.5rem;
                }
            }

            .chat-message-text-container {
                display: flex;
                flex-flow: row;
                align-items: center;

                .delete-icon {
                    cursor: pointer;
                    display: block;
                    opacity: 0; /* Initially hidden */
                    transform: translateX(10px); /* Move left */
                    transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Smooth transition */
                }

                &:hover .delete-icon {
                    display: block;
                    opacity: 1; /* Fully visible */
                    transform: translateX(-5px); /* Move to normal position */
                    color: var(--clr-color-danger-800);
                }

                .chat-message-text-content {
                    .deleted-message {
                        font-style: italic;
                    }

                    p {
                        color: black;
                        padding: 0.1rem;
                        margin: 0.1rem;
                    }

                    padding: 0.2rem;
                    border-radius: 0.6rem;
                }
            }


            .my-message {
                background-color: var(--clr-color-action-100);
                max-width: fit-content;
                display: flex;
            }

            .their-message {
                background-color: var(--clr-color-neutral-400);
                max-width: fit-content;
            }
        }
    }
}

.author-message-margin {
    margin-left: auto;
}
