.chat-container {

    .subnav{
        .nav-chat-links{
            flex: 0;
            padding-right: 1.2rem;
        }
        .chat-title{
            width: 20rem;
            margin: 0 0 0 1.2rem;
            overflow: hidden; /* Hide overflow content */
            text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
            white-space: nowrap; /* Prevent text wrapping */
        }
    }

    display: flex;
    flex-flow: column;
    min-width: 36rem;
    height: 100vh;
    width: 100%;

    .input-container {
        display: flex;
        margin-bottom: 5rem;
        margin-top: auto;
        height: 6rem;
        align-items: center;
        justify-content: center;

        .chat-user-input {
            flex-grow: 1;
            padding: 0.6rem;
            border-radius: 0.6rem;
            border: 1px solid #ccc;
            font-size: 14px;
            resize: none;
            outline: none;
            margin-right: 1rem;
            height: 3rem;
            &:focus{
                border-color: var(--clr-color-action-600);
            }
        }


        .send-button-icon {
            margin-right: 0.6rem;
            transform: rotate(90deg);
            color: var(--clr-color-action-600);
            &:hover{
                cursor: pointer;
                color: var(--clr-color-action-800);
            }
        }

    }
}

.main-chat-history {
    overflow-y: auto;
    padding: 0 1rem 0 0;

    &::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--clr-color-action-800); /* Color of the scroll thumb */
        border-radius: 10px; /* Roundness of the scroll thumb */
        border: 3px solid var(--clr-color-action-200); /* Space around the scroll thumb */
    }

    &::-webkit-scrollbar-track {
        background: var(--clr-color-action-100); /* Color of the scrollbar track */
    }

    .chat-message-container{
        display: flex;
        flex-flow: column;
        width: fit-content;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        max-width: 90%;
        .chat-message-info{
            display: flex;
            align-items: center;
            .chat-message-username{
                margin:0 0.4rem 0 0;
                font-weight: bold;
            }

            .chat-message-time{
                margin: 0.1rem 0 0 0;
                font-size: 0.5rem;
            }
        }
        .chat-message-content {

            p{
                color: black;
                padding: 0.1rem;
                margin: 0.1rem;
            }

            padding: 0.2rem;
            border-radius: 0.6rem;
        }

        .my-message {
            background-color: var(--clr-color-action-100);
            max-width: fit-content;
            display: flex;
        }

        .their-message {
            background-color: var(--clr-color-neutral-400);
            max-width: fit-content;
        }
    }
}

.author-message-margin{
    margin-left: auto;
}
