<div class="chat-correspondence-container">
    @if (errorMessage) {
        <clr-alert class="danger-alert" [clrAlertType]="'danger'" [(clrAlertClosed)]="alertClosed">
            <clr-alert-item>
                <span class="alert-text">{{ errorMessage }}</span>
            </clr-alert-item>
        </clr-alert>
    }
<!--    <nav class="subnav">-->
<!--        @if (chat?.isChannel) {-->
<!--            <h6 class="chat-title">{{ chat?.title }}</h6>-->
<!--        } @else if (!!chat?.participantsPage?.content?.length) {-->
<!--            <h6 class="chat-title">Direct chat with {{ chat | chatTitle: currentUser }}</h6>-->
<!--        }-->

<!--        @if (chat?.isChannel) {-->
<!--            <ul class="nav nav-chat-links">-->
<!--                <li class="nav-item">-->
<!--                    <span (click)="openChannelParticipants()" class="nav-link channel-nav-item">Participants</span>-->
<!--                </li>-->
<!--                <li class="nav-item channel-nav-item">-->
<!--                    <span (click)="openChannelSettings()" class="nav-link">Channel setting</span>-->
<!--                </li>-->
<!--            </ul>-->
<!--        }-->

<!--    </nav>-->
    <div #scrollContainer class="main-chat-history">
        @for (chatMessage of loadedChatMessages; track chatMessage.id) {
            <div class="chat-message-container" [class]="chatMessage.isMine ? 'author-message-margin' : ''">
                <div class="chat-message-info">
                    @if (!chatMessage.isMine) {
                        <p class="chat-message-username">{{ chatMessage.senderUsername }}</p>
                    }
                    <p class="chat-message-time">{{ chatMessage.createdAt | date : "dd.MM, hh:mm" }}</p>
                </div>

                <div
                    class="chat-message-content"
                    [class]="chatMessage.isMine ? 'my-message' : 'their-message'"
                >
                    <p [innerHTML]="chatMessage.messageContent | emojiParse"></p>
                </div>
            </div>

        }
    </div>
    <div class="input-container">
            <textarea
                [disabled]="loading"
                class="chat-user-input"
                name="messageInput"
                [(ngModel)]="userChatInput"
                (keydown)="onKeydown($event)"
                placeholder="Write your message..."
            ></textarea>
        <cds-icon class="send-button-icon" (click)="sendMessage()" [size]="'lg'" shape="circle-arrow"></cds-icon>
    </div>
</div>

<channel-participants #channelParticipants></channel-participants>
<channel-settings #channelSettings></channel-settings>
