<h3>Chat settings</h3>
@if (errorMessage) {
    <clr-alert class="danger-alert" [clrAlertType]="'danger'" [(clrAlertClosed)]="alertClosed">
        <clr-alert-item>
            <span class="alert-text">{{ errorMessage }}</span>
        </clr-alert-item>
    </clr-alert>
}

<div class="chat-info-container">
    <form [formGroup]="channelForm">
        <clr-input-container>
            <input clrInput type="text" formControlName="channelName" placeholder="Enter channel title"/>
            <clr-control-error *clrIfError="'required'">
                Channel title is required.
            </clr-control-error>
            <clr-control-error *clrIfError="'minlength'">
                Channel title name must be at least 6 characters long.
            </clr-control-error>

            <clr-control-helper>
                This channel name will be seen by all participants.
            </clr-control-helper>
        </clr-input-container>

    </form>

    <div class="created-at-container">
        <label class="clr-control-label">Created at: </label> <span class="created-at-time">{{this.currentChat?.createdAt | date: "dd.MM.yy, HH:MM"}}</span>
    </div>

    <div class="chat-settings-actions">
        <button (click)="updateChannel()" class="btn btn-primary">Save</button>
        @if(this.currentUser?.chatUserType === ChatUserType.OWNER){
            <button (click)="openConfirmChannelDelete = true" class="btn btn-danger-outline delete-channel-btn">Delete Channel</button>
        }
    </div>
</div>

<clr-modal [(clrModalOpen)]="openConfirmChannelDelete">
    <h3 class="modal-title">Deleting channel "{{this.currentChat?.title}}"</h3>
    <div class="modal-body">
        <p>Deleting a channel cannot be reverted, the channel history will be lost.</p>
        <p>Are you sure you want to delete your channel?.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="openConfirmChannelDelete = false">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteChannel()">
            Delete
        </button>
    </div>
</clr-modal>
