<clr-side-panel [(clrSidePanelOpen)]="opened" [clrSidePanelStaticBackdrop]="true" [clrSidePanelSize]="'lg'">
    <h3 class="side-panel-title">Create new channel</h3>
    <div class="side-panel-body">
        @if (errorMessage) {
            <clr-alert class="danger-alert" [clrAlertType]="'danger'" [(clrAlertClosed)]="alertClosed">
                <clr-alert-item>
                    <span class="alert-text">{{ errorMessage }}</span>
                </clr-alert-item>
            </clr-alert>
        }
        <h5>Channel name</h5>

        <form [formGroup]="channelForm">
            <clr-input-container>
                <input clrInput type="text" formControlName="channelName" placeholder="Enter channel title"/>
                <clr-control-error *clrIfError="'required'">
                    Channel title is required.
                </clr-control-error>
                <clr-control-error *clrIfError="'minlength'">
                    Channel title name must be at least 6 characters long.
                </clr-control-error>
            </clr-input-container>

            <h5>Select channel participants from your friend list</h5>
            <clr-datagrid
                (clrDgRefresh)="refreshByGrid($event)"
                [clrDgLoading]="loading"
                [(clrDgSelected)]="selectedFriends"
                [clrDgPreserveSelection]="true"
                [clrDgItemsTrackBy]="trackByFnc"
                (clrDgSelectedChange)="setSelectedFriendsToForm()"
            >
                <clr-dg-column [clrDgField]="'username'">Username</clr-dg-column>
                <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
                <clr-dg-column>Active Since</clr-dg-column>
                <clr-dg-placeholder>No friends found.</clr-dg-placeholder>
                @for (user of currentParticipants.content; track user.id) {
                    <clr-dg-row [clrDgItem]="user">
                        <clr-dg-cell>{{ user.username }}</clr-dg-cell>
                        <clr-dg-cell>{{ user.email }}</clr-dg-cell>
                        <clr-dg-cell>{{ user.createdAt | date }}</clr-dg-cell>
                    </clr-dg-row>
                }

                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="currentParticipants.totalElements">
                        <clr-dg-page-size [clrPageSizeOptions]="[5, 10, 15]">Users per page</clr-dg-page-size>
                        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
                        {{ pagination.totalItems }} users
                    </clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
            @if(this.channelForm?.controls?.selectedUsers?.errors){
                <clr-control-error>
                    Please select at least one participant.
                </clr-control-error>
            }

        </form>
    </div>
    <div class="side-panel-footer">
        <button type="button" class="btn btn-outline" (click)="close()">Cancel</button>
        <button [disabled]="channelForm?.invalid" type="button" class="btn btn-primary" (click)="createChatChannel()">Create Channel</button>
    </div>
</clr-side-panel>
